#profileInfoWrapper {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 7%;
    background: white;
    border-radius: 8px;
    padding-bottom: 15px;
    box-shadow: 0 0 10px black;
    position: relative;

    #profileNav {
        height: 35px;
        line-height: 35px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background: rgb(241, 81, 81); 
        color: black;


        li {
            list-style-type: none;
            display: inline;
            margin-left: 5px; 
            color: black;
          
        }

        .activeTabs {
            color: white;
        
        a {
            margin-left: 5px;
            color: white;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                color:black;
            }
        }

        }

        a {
            color: black;
        }
   
    }
 
}