#signInUp {
    width: 50%;
    min-height: 300px;
    // height: auto;
    margin: 0 auto;
    margin-top: 10%;
    background: white;
    border-radius: 8px;
    padding-bottom: 15px;

    #formsNav {
        height: 35px;
        line-height: 35px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background: rgb(241, 81, 81);

        li {
            list-style-type: none;
            display: inline;
            margin-left: 5px;

          
        }
         
        a {
            color: white;
        }
        
        .activeTab {
           
            a {
                color: black;
                text-decoration: underline;
               
            
                &:hover {
                    cursor: pointer;
                    color: black;
                   
                }

            }
        }
         
    }
}



 

 

