#products-grid {
    padding-left: 7px;
    padding-bottom: 20px;
}

.noProducts {
    color: rgb(172, 171, 171);
    text-align: center;
    margin: 0 auto;
    top: 16%;
    margin-top: 15%;
}

.networkConnectionError {
    position: relative;
    margin: 0 auto; 
    width: 40%;
    margin-top: 10%;
}

