<div class="orderItem">
  <div class="orderInfo" (click)="toggleOrderDetail()">
    <div class="orderId">№ {{ order.orderId }}</div>
    <div class="orderDate"> <b>Date:</b> {{ getDate(order.orderTime) }}</div>
    <div class="totalOrderAmount"><b>Total: </b> {{ order.totalPrice }} $</div>
    <div class="productsQuantity">{{ getProductsQuantity(order) }} <i>{{ getProductsQuantity(order) == 1 ? 'product' : 'products' }}</i></div> 
    <div class="orderTime"> <b>Time:</b> {{ getTime(order.orderTime) }}</div>
  </div>
  
  <div class="orderDetail" *ngIf="isOrderDetailExpanded">
    <div class="orderedProducts" *ngFor='let order of order.products'>
      <div class="productImgWrapper" (click)="navigateToProductDetailPage(order)">
        <img [src]="order.imgPath"  >
      </div>

      <div class="productTitle">
        {{ order.productTitle }} X {{ order.productQuantity || ''}}
      </div>

      <div class="productPrice">
        {{ order.productPrice * order.productQuantity }} $
      </div>
    </div>
  </div>
   
</div>