#sideBar {
     width: 100%;
     height: 100%;
     overflow: hidden;
     background-color: black; 
     border: 1px solid black;
     position: relative;   
  
    #productCategory {
        width: 100%;
        position: relative;
        top: 100px;

        .activeTab{
            color: white;
            background-color: rgba(255, 86, 86, 0.76);
            opacity: 1;
        }

        #logo {
            text-align: center;
            
            .sideBarLogo {
                width: 150px;                
            }
        }

        ul {
            margin-left: 0;
            list-style-position: inside;
            width: 100%;
            height: 100%;
            padding-left: 0;
            display:block;
            text-decoration: none;
            list-style-type: none;
            color: white;
            height: 211px;  
            
            li {
                display: flexbox;
                list-style-type: none;
                opacity: 1;
                line-height: 40px;
                width: 100%;
                text-align: center;    

                &:hover {
                    cursor: pointer;
                    background-color: rgb(49, 49, 49);
                }
            }
        }
    }
 }