#product-search {
    width: 250px;
    height: 35px;
    position: absolute;
    right: 18.5%;
    top: 8%;
    display: inline-block;

    #searchQuery{
        width: 250px;
        height: 35px;
        padding-left: 35px;    
    }

    #loopIconWrapper {
        width: 15px;
        height: 15px;
        position: relative;

        #searchIcon {
            width: 15px;
            height: 15px;
            position: absolute;
            top: 25px;
            left: 10px;

        }
    }

    #search {
        width: 75px;
        height: 35px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: absolute;
    }
}