.errorWrapper {
   // border: 1px solid red;
    width: 100%;
    text-align: center;
    height: 50px;
    margin: 0 auto;
    margin-top: 10%;
    
    .errorCode {
        width: 150px;
    }

    #errorCode {
        font-size: 22px;
        font-weight: 600;
        margin-top: 15px;
    }

    #errorMsg {
        font-size: 18px;
        font-weight: 400;
        margin-top: 5px;   
    }
}