#editProfile {
    position: absolute;
    display: inline-block;
    right: 3%;
    font-weight: 600;
    color: red;

    &:hover {
        cursor: pointer;
    }
}

#userDetail {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}