#productDetailWrapper {
    width: 100%;
    min-height: 700px;
    height: auto;
    margin-top: 25px;
    position: relative;
  //  border: 1px solid red;

    .logoWrapper {
        width: 280px;
        height: 250px;
      // border: 1px solid red;
        position: relative;
        left: 2.5%;
        top: 2%;
        display: inline-block;

        img {
            width: 280px;
            height: 250px;
        }
    }

    .productInfoWrapper {
       // position: absolute;
       // border: 1px solid red;
        margin-left: 50px;

        .productTitle {
            display: inline-block;
            width: 50%;
            font-weight: 600;
            font-size: 32px;
            //border: 1px solid red;
        }

        .productPrice {
            margin-top: 20px;
            font-weight: 600;
            font-size: 30px;
            color: rgb(233, 25, 25);
           // border: 1px solid red;
        }
        
        .productQuantityWrapper {
            display: inline-block;
            //border: 1px solid red;
            height: 30px;

            .productQuantity {
                width: 45px;
                text-align: center;
                font-weight: 600;
            }

        }

        .addToCartWrapper {
            margin-top: 25px;

        }

        .sizeAndWeightWrapper {
            margin-top: 20px;
            font-weight: 600;
            font-size: 18px;
           // border: 1px solid red;

        }
    }

    .ingredientsWrapper { 
        //border: 1px solid red;
        margin-top: 25px;
        margin-left: 10px;
    }

    .productRecipe {
        //border: 1px solid red;
        margin-top: 25px;

    }

   
    
}